<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <div class="login-card mdl-card mdl-shadow--2dp mdl-shadow--16dp">
    <div class="mdl-card__title">
      <h2 class="mdl-card__title-text">Forgot your password?</h2>
    </div>
    <div class="mdl-card__supporting-text">
      <div class="mdl-textfield mdl-js-textfield">
        <%= f.email_field :email, autofocus: true, class: "mdl-textfield__input", id: "email", pattern: "[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" %>
        <%= f.label :email, class: "mdl-textfield__label", for: "email" %>
        <span class="mdl-textfield__error">Please enter a valid email.</span>
      </div>
    </div>
    <div class="mdl-card__actions mdl-card--border">
      <div class="actions">
        <%= f.submit "Send password reset instructions", class: "mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" %>
      </div>
    </div>
    <div class="mdl-card__menu">
      <button type="button" id="login-menu-lower-right" class="mdl-button mdl-js-button mdl-button--icon">
        <i class="material-icons">more_vert</i>
      </button>
      <ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect" for="login-menu-lower-right">
        <%= render "devise/shared/links" %>
      </ul>
    </div>
  </div>
<% end %>
</div>
<%= devise_error_messages! %>
