<!DOCTYPE html>
<html>
  <head>
    <title>Cashular</title>
    <%= csrf_meta_tags %>

    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:300,400,500,700" type="text/css">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.light_green-deep_orange.min.css" />
  </head>

  <% if ! current_user %>
    <body class="signed-out">
  <% else %>
    <body>
  <% end %>
    <% if alert %>
      <div class="hidden" id="alert" data-message="<%= alert %>"></div>
    <% end %>
    <% if notice %>
      <div class="hidden" id="notice" data-message="<%= notice %>"></div>
    <% end %>

    <% if ! current_user %>
      <div class="mdl-grid">
        <div class="mdl-cell mdl-cell--12-col centered">
          <h1 class="mdl-typography--display-1">Cashular</h1>
        </div>
        <div class="mdl-cell mdl-cell--4-col"></div>
        <div class="mdl-cell mdl-cell--4-col"><%= yield %></div>
        <div class="mdl-cell mdl-cell--4-col"></div>
    <% else %>
      <%= yield %>
    <% end %>

    <div id="snackbar-alerter" class="mdl-js-snackbar mdl-snackbar">
        <div class="mdl-snackbar__text"></div>
        <button class="mdl-snackbar__action" type="button"></button>
    </div>

    <dialog class="mdl-dialog">
        <h4 class="mdl-dialog__title">Allow data collection?</h4>
        <div class="mdl-dialog__content">
          <p>
            Allowing us to collect data will let us get you the information you want faster.
          </p>
        </div>
        <div class="mdl-dialog__actions">
          <button type="button" class="mdl-button">Agree</button>
          <button type="button" class="mdl-button close">Disagree</button>
        </div>
    </dialog>
  </body>
</html>
